.blogs{
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .more-blogs-button{
        background: #29A0F5;
        border: 1px solid #29A0F5;
        border-radius: 20px;
        width: 227px;
        height: 72px;
        color: white;
        margin-top: 169px;
    }
    .blogs-child{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
        .items{
            display: flex;
            flex-direction: column;
            grid-gap: 25px;
            width: 423px;
            img{
                cursor: pointer;
            }
            h1{
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 42px;
                text-transform: capitalize;
                color: #1B2534;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                color: #606060;
            }
            .bottom-items{
                display: flex;
                align-items: center;
                grid-gap: 20px;
                span{
                    h4{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
                        color: #1B2534;
                    }
                    p{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 29px;
                        color: #606060;
                    }
                }
            }
        }
    }
}

/** Media Rules **/
@media (max-width:555px){
    .blogs{
        margin-top: 25px;
        .blogs-child{
            .items{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                padding: 35px;
                img{
                    height: 200px;
                    width: 250px;
                    cursor: pointer;
                }
                h1{
                    font-size: 25px !important;
                }
                p{
                    font-size: 18px !important;
                }
                .bottom-items{
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
    }
}