.more-easily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 160px;
  background: #F6F6F6;
  width: 100% !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}
.more-easily .more-easily-child {
  margin-top: 25px;
}
.more-easily .more-easily-child .items-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.more-easily .more-easily-child .items-container-top .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  grid-gap: 15px;
  width: 100%;
}
.more-easily .more-easily-child .items-container-top .items span {
  width: auto !important;
}
.more-easily .more-easily-child .items-container-top .items span h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-transform: capitalize;
  color: #1B2534;
}
.more-easily .more-easily-child .items-container-top .items span h1 b {
  color: #29A0F5;
}
.more-easily .more-easily-child .items-container-top .items span p {
  width: 41.9270833333vw;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B2534;
}
.more-easily .more-easily-child .items-container-top .items img {
  cursor: pointer;
}
.more-easily .more-easily-child .items-container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 16px;
  margin-top: 40px;
  width: 100%;
}
.more-easily .more-easily-child .items-container-center div {
  cursor: pointer;
  padding: 15px;
}
.more-easily .more-easily-child .items-container-center .important {
  width: 22.0052083333vw;
  height: 244px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}
.more-easily .more-easily-child .items-container-center .important span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.more-easily .more-easily-child .items-container-center .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41.2109375vw;
  height: 250px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  overflow: hidden;
}
.more-easily .more-easily-child .items-container-center .monitoring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 22.0052083333vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
.more-easily .more-easily-child .items-container-bottom {
  margin-top: 40px;
}
.more-easily .more-easily-child .items-container-bottom .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 15px;
}
.more-easily .more-easily-child .items-container-bottom .items .monitoring-items {
  width: 59.4401041667vw;
  height: 272px;
  background: #161D2D;
  border-radius: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}
.more-easily .more-easily-child .items-container-bottom .items .monitoring-items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 300px;
}
.more-easily .more-easily-child .items-container-bottom .items .monitoring-items span h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  text-align: right;
  text-transform: capitalize;
  color: #FFFFFF;
}
.more-easily .more-easily-child .items-container-bottom .items .monitoring-items button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  width: 15.234375vw;
  height: 72px;
  background: #29A0F5;
  border: 1px solid #29A0F5;
  border-radius: 20px;
}
.more-easily .more-easily-child .items-container-bottom .items .media-items {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  height: 272px;
  width: 31.3151041667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.more-easily .more-easily-child .items-container-bottom .items .media-items span {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/** Media Rules **/
@media (max-width: 1344px) {
  .more-easily-child {
    width: 100%;
  }

  .items-container-top {
    width: 100% !important;
  }
  .items-container-top .items {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .items-container-top .items span {
    width: 100% !important;
  }
  .items-container-top .items span h1 {
    width: 100% !important;
    text-align: center;
  }
  .items-container-top .items span p {
    width: 100% !important;
    text-align: center;
  }

  .items-container-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items-container-center .items {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .items-container-center .support {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }

  .items-container-bottom .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .items-container-bottom .items .monitoring-items {
    width: 100% !important;
  }
  .items-container-bottom .items .media-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .items-container-bottom .items .media-items h1 {
    text-align: center !important;
  }
}
@media (max-width: 768px) {
  .items-container-bottom .items .monitoring-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
  }
  .items-container-bottom .items .monitoring-items span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .items-container-bottom .items .monitoring-items span h1 {
    text-align: center !important;
  }
  .items-container-bottom .items .monitoring-items span button {
    width: 100% !important;
  }
}
@media (max-width: 555px) {
  .items-container-top .items span {
    width: 100% !important;
  }
  .items-container-top .items span h1 {
    width: 100% !important;
    text-align: center;
    font-size: 25px !important;
    line-height: 35px !important;
  }
  .items-container-top .items span p {
    width: 100% !important;
    text-align: center;
    font-size: 15px !important;
  }

  .items-container-center .items h1 {
    font-size: 25px !important;
  }

  .items-container-bottom .items .monitoring-items span h1 {
    font-size: 25px !important;
  }
  .items-container-bottom .items .monitoring-items span button {
    width: 220px !important;
    height: 7vh !important;
    font-size: 12px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .items-container-bottom .items .monitoring-items span button img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2vh;
  }
  .items-container-bottom .items .media-items h1 {
    font-size: 25px !important;
  }
}