footer {
  height: 609px;
  background: #1B2534;
  border-radius: 0px;
}
footer .footer-child {
  position: relative;
  top: 153px;
}
footer .footer-child .footer-items-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer-child .footer-items-top .icons-bar {
  margin-top: 111.97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30.16px;
}
footer .footer-child .footer-items-top .icons-bar img {
  cursor: pointer;
}
footer .footer-child .footer-items-top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-child .footer-items-top .logo p {
  margin-top: 22px;
  width: 264px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #ABABAB;
}
footer .footer-child .footer-items-top .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 330px;
  width: 674px;
  background: #283343;
  border-radius: 30px;
}
footer .footer-child .footer-items-top .navigation ul {
  list-style: none;
}
footer .footer-child .footer-items-top .navigation ul li {
  margin: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: #ABABAB;
}
footer .footer-child .footer-items-top .navigation ul .li-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
footer hr {
  height: 1px;
  width: 100%;
  background: #606060;
}
footer .footer-items-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-items-bottom p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #ABABAB;
}
footer .footer-items-bottom b {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #29A0F5;
  cursor: pointer;
}

/** Media Rules **/
@media (max-width: 1344px) {
  footer {
    height: 950px;
  }

  .footer-items-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1084px) {
  footer {
    height: 1300px;
  }

  .footer-items-top {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-items-top .icons-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 610px) {
  .footer-items-top .navigation {
    height: auto !important;
  }
  .footer-items-top .navigation ul {
    height: auto !important;
  }
  .footer-items-top .navigation ul li {
    margin: 15px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 525px) {
  footer {
    height: 1750px !important;
  }

  .footer-items-top .navigation {
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100% !important;
  }
  .footer-items-top .navigation ul {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    height: auto !important;
  }
  .footer-items-top .navigation ul li {
    margin: 15px !important;
    font-size: 20px !important;
  }

  .footer-items-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}