@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  font-family: "Open Sans", sans-serif !important;
  font-weight: bolder !important;
}

#btn_style {
  -webkit-transition: 0.5s all linear !important;
  transition: 0.5s all linear !important;
}

#btn_style:hover * {
  -webkit-transition: 0.5s all linear !important;
  transition: 0.5s all linear !important;
  margin-left: 15px;
}